.big-banner, .bar
{
	margin: 0;
	padding: 0;
}
.bar
{
	background-color: rgba(255, 255, 255, 0.713);
	height: 12%;
}

.bar > .lefty
{
	width: 66%;
}
.big-banner, .bar, .giganto
{
	width: 100%;
}
.big-banner
{
	background-image: url('doctor.jpg');
	height: 550px;
}
.big-tittle, .big-info
{
	color: #FFFFFF;
}
.big-info
{
	font-family: Corbel;
	font-size: 16pt;
	font-weight: 200;
}
.big-tittle
{
	font-family: "Segoe UI";
	font-weight: bold;
	font-size: 32pt;
}
.blue-headline
{
	background-color: #EFF4FA;
}
.giganto
{
	height: 88%;
	background-color: rgba(0, 0, 0, 0.41);
}
.headland
{
	width: 70%;
	padding-top: 5%;
	padding-left: 8%;
}
.medium-info
{
	font-size: 22pt;
}
.red-button
{
	color: #FFFFFF;
	background-color: #FF1C1C;
	border-style: none;
	font: 14pt Cabin;
	text-decoration: none;
	padding: 2% 6%;
	text-align: center;
}
.red-button:hover
{
	background: transparent;
	color: #FF0909;
	text-decoration: none;
	border: 2px solid #FF0909;
	transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
}
.blue-button
{
	color: #FFFFFF;
	background-color: #336699;
	border-style: none;
	font: 14pt Cabin;
	text-decoration: none;
	padding: 2% 6%;
	text-align: center;
}
.blue-button:hover
{
	background: transparent;
	color: #FFFFFF;
	text-decoration: none;
	border: 2px solid #FFFFFF;
	transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
}
.white-button
{
	color: #FFFFFF;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	font: 14pt Cabin;
	text-decoration: none;
	padding: 2% 6%;
	text-align: center;
}
.white-button:hover
{
	background: #FFFFFF;
	text-decoration: none;
	border: 2px solid #FFFFFF;
	color: #5F5F5F;
	transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
}
