body, .big-banner, .bar, p
{
    margin: 0;
}

.big-banner, .bar, .giganto
{
    width: 100%;    
}
.big-banner
{
	background-image: url(../images/doctor.jpg);
        height: 450px;
}

.big-tittle
{
    color: white;
    font-family: "Cabin";
    font-size: 32pt;
}
.bar
{
    background-color: rgba(255,255,255,0.713);
    height: 15%;
}

.giganto
{
    height: 85%;
    background-color: rgba(0,0,0,0.41);
}

.headland
{
    width: 80%;
    padding: 10%  15% 10% 5%;
}