<!DOCTYPE html>
<html>
	<head>
	 <title>{% block tittle %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}main.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}custom.css"/>  
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}normalize.css"/>              
        <script src="{{STATIC_URL}}vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{STATIC_URL}}vendor/jquery-1.10.1.min.js"></script>
        <script src="{{STATIC_URL}}vendor/ajax.js"></script>
    </head>
	<body>
	<section id="home" class="big-banner">
            <div class="bar">
		<div>
		</div>
		<div>
		</div>
            </div>
            <div class="giganto">
                <div class="headland">
                    <p class="big-tittle">
                    A nosotros también nos importa la salud de sus pacientes.
                    </p>
                    <p class="big-info">
                    	Brindeles una atención más personalizada con <i class="medium-info">Instant appointment</i>
                    </p>
                </div>              
            </div>
	</section>
	<section id="content" class="blue-headline">
		<div>
		</div>
	</section>
	<section id="footer">
		<div>
		</div>
	</section>
	</body>
</html>