<!DOCTYPE html>
<html>
	<head>
	 <title>{% block tittle %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/custom.css"/>
        <!--link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/profiles.css"/-->
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"></script>
        <script src="{{STATIC_URL}}js/vendor/ajax.js"></script>
    </head>
	<body>
	<section id="home" class="big-banner">
            <div class="bar">
		<div>
		</div>
		<div>
		</div>
            </div>
            <div class="giganto">
                <div class="headland">
                    <p class="big-tittle">
                    A nosotros también nos importa la salud de tus pacientes.
                    </p>
                </div>              
            </div>
	</section>
	<section id="content">
		<div>
		</div>
	</section>
	<section id="footer">
		<div>
		</div>
	</section>
	</body>
</html>