{% extends "base.html" %}
{% block tittle %}Registrarse{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Bienvenido
				</div>
 				<form class="input-group" method="POST">
 				{% csrf_token %}
				<input name="username" class ="form-control" type="text" placeholder="Nombre de usuario">
				{{form.username.errors}}                           
				<input name="password" class ="form-control" type="password" placeholder="Password">
				{{form.password.errors}}                              
				<input name="email" class ="form-control" type="email" placeholder="e-mail">
				{{form.email.errors}}      
				<input name="registration_number"  class ="form-control" type="text" placeholder="Numero de colegiado"> 
				{{form.registration_number.errors}}    
				<input type="submit" class ="form-control btn-default" value="Registrarme" />
				<input type="hidden" name="next" value="/" />
 				</form>  						
 			</div>
 			<p><a href="/login/"> ya tengo un usuario </a></p>		
 		</div>
 	</div>
 </div>
 {% endblock %}